<h3>
<%= t('sesuso.pay_with_bank_transfer') %><br>
<%= t('sesuso.account_owner') %>: <%= Figaro.env.account_owner %><br>
<%= t('sesuso.account_number') %>: <%= Figaro.env.account_number %><br>
<%= t('sesuso.bank_code') %>: <%= Figaro.env.bank_code %> <br>
</h3>
