<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= wicked_pdf_stylesheet_link_tag("invoice") %>

</head>
<body>

<hr id="faltmarke1">
<hr id="faltmarke2">

<div id="logo">
  <%= wicked_pdf_image_tag("store/logo.png") %>
</div>

<div id="etikettenfeld">

  <div id="etikettenfeld-inner">

    <div id="sender"><%= Figaro.env.shop_operator_address_1 %> &#x007C; <%= Figaro.env.shop_operator_address_3 %> &#x007C; <%= Figaro.env.shop_operator_address_4 %></div>
    <div id="address">
      <%= t('sesuso.invoice.postal_message') %><br/>
      <%= "#{@order.ship_address.firstname} #{@order.ship_address.lastname}" %>
      <br/>
      <%= "#{@order.ship_address.address1}" %>
      <br/>
      <%= "#{@order.ship_address.zipcode} #{@order.ship_address.city}" %>
      <br/>
    </div>
  </div>

</div>

<div id="anschriftenfeld">

  <div id="anschriftenfeld-inner">

    <div id="sender"><%= Figaro.env.shop_operator_address_1 %> &#x007C; <%= Figaro.env.shop_operator_address_3 %> &#x007C; <%= Figaro.env.shop_operator_address_4 %></div>
    <div id="address">
      <%= "#{@order.ship_address.firstname} #{@order.ship_address.lastname}" %>
      <br/>
      <%= "#{@order.ship_address.address1}" %>
      <br/>
      <%= "#{@order.ship_address.zipcode} #{@order.ship_address.city}" %>
      <br/>
    </div>

  </div>

</div>

<div id="bezugszeichenzeile">
  <table class="blank-table">
    <!--<tr><td>Telefon: 030 / 123456</td></tr>-->
    <!--<tr><td>Fax: 030 / 123456</td></tr>-->
    <tr>
      <td><%= t('sesuso.invoice.email_label') %></td>
      <td>&nbsp;</td>
      <td><%= Figaro.env.invoice_email %></td>
    </tr>
    <tr>
      <td><%= t('sesuso.invoice.url_label') %></td>
      <td>&nbsp;</td>
      <td><%= Figaro.env.invoice_url %></td>
    </tr>
    <tr>
      <td><%= t('sesuso.invoice.phone_label') %></td>
      <td>&nbsp;</td>
      <td><%= Figaro.env.invoice_phone %></td>
    </tr>
  </table>
  <br/>
  <table class="invoice-data-table">
    <tr>
      <td class="blank-right"><%= t('sesuso.invoice.invoice_number') %></td>
      <td>&nbsp;</td>
      <td class="blank-left">
        <div class="centered"><%= @order.number %></div>
      </td>
    </tr>
    <tr>

      <td class="blank-right"><%= t('sesuso.invoice.invoice_date') %></td>
      <td>&nbsp;</td>
      <td class="blank-left">
        <div class="centered"><%= @order.created_at.to_date.strftime("%d.%m.%Y") %></div>
      </td>
    </tr>

  </table>
</div>

<div id="textfield">
  <p class="subject"><%= t('sesuso.invoice.invoice') %></p>


  <% if @order.line_items.exists? %>
      <table id="items">


        <thead>
        <th colspan="2"><%= t('sesuso.invoice.item_name') %></th>
        <th><%= t('sesuso.invoice.price_per_item') %></th>
        <th><%= t('sesuso.invoice.item_amount') %></th>
        <th><%= t('sesuso.invoice.item_total') %></th>
        </thead>

        <tbody>
        <% @order.line_items.each do |item| %>

            <tr class="item-row">
              <td></td>
              <td>
                <%= item.variant.product.name %>
                <br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
              </td>
              <td><%= item.single_money.to_html %></td>
              <td>
                <%= item.quantity %>
              </td>
              <td class="line-item-total align-center"><%= Spree::Money.new(item.price * item.quantity, {currency: @order.currency}) %></td>
            </tr>
        <% end %>
        </tbody>

  <% end %>

  <tr>
    <td colspan="5" class="blank">&nbsp;</td>
  </tr>


  <tr class="summary-line">
    <td colspan="2" class="blank"></td>
    <td colspan="2" class="summary-right-buttom-clear"><%= t('sesuso.invoice.subtotal') %></td>
    <td class="summary-right-buttom-clear summary-left-clear"><%= Spree::Money.new(@order.item_total, {currency: @order.currency}) %></td>
  </tr>

  <tr class="summary-line">
    <td colspan="2" class="blank"></td>
    <td colspan="2" class="summary-right-buttom-clear summary-top-clear"><%= t('sesuso.invoice.vat_included') %></td>
    <td class="summary-right-buttom-clear summary-left-top-clear"><%= Spree::Money.new(@order.tax_total, {currency: @order.currency}) %></td>
  </tr>

  <tr class="summary-line">
    <td colspan="2" class="blank"></td>
    <td colspan="2" class="summary-right-buttom-clear summary-top-clear"><%= t('sesuso.invoice.shipping_total') %></td>
    <td class="summary-right-buttom-clear summary-left-top-clear"><%= Spree::Money.new(@order.adjustment_total, {currency: @order.currency}) %></td>
  </tr>

  <tr class="summary-line">
    <td colspan="2" class="blank"></td>
    <td colspan="2" class="total-line summary-right-clear"><%= t('sesuso.invoice.order_total') %></td>
    <td class="total-line summary-left-clear"><%= Spree::Money.new(@order.total, {currency: @order.currency}) %></td>
  </tr>

  </table>
  <p class="payment-notice"><%= t('sesuso.invoice.payment_received', amount: Spree::Money.new(@order.total, {currency: @order.currency})) %></p>
  <br/>
  <br/>
  <hr>
  <p class="firmenangaben">
    <%= t('sesuso.invoice.shop_owned_by') %><br>
    <%= Figaro.env.shop_owner_address_1 %> &#x007C; <%= Figaro.env.shop_owner_address_2 %> &#x007C; <%= Figaro.env.shop_owner_address_3 %> &#x007C; <%= Figaro.env.shop_owner_address_4 %><br/>
    <%= t('sesuso.invoice.vat_number_1_label') %> <%= Figaro.env.vat_number_1 %> &#x007C; <%= t('sesuso.invoice.vat_number_2_label') %> <%= Figaro.env.vat_number_2 %> <br>
    <br>
    <%= t('sesuso.invoice.shop_operated_by', shopname: Spree::Config[:site_name]) %><br>
    <%= Figaro.env.shop_operator_address_1 %> &#x007C; <%= Figaro.env.shop_operator_address_2 %> &#x007C; <%= Figaro.env.shop_operator_address_3 %> &#x007C; <%= Figaro.env.shop_operator_address_4 %><br/>

  </p>
</div>

</body>
</html>
